<% layout('layouts/boilerplate')%>

<article class="postcard light green headline mt-3">
  <a class="postcard__img_link" href="events/<%= announcement._id %>">
    <img
      class="postcard__img"
      src="../../public/assets/media/logo.jpg"
      alt=""
    />
  </a>
  <div class="postcard__text t-dark">
    <h1 class="postcard__title blue text-center"><%= announcement.title %></h1>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">
        <i class="fas fa-calendar-alt mr-2"></i>
        <%=moment(announcement.date).format("l") %>
      </time>
    </div>
    <div class="postcard__bar"></div>
    <div class="text-muted mb-3" style="white-space: pre-wrap">
      <%= announcement.resume %>
    </div>
    <div class=" " style="white-space: pre-wrap"><%= announcement.description %></div>
  </div>
</article>