<% layout('layouts/boilerplate')%>
<h1 class="display-6 text-success text-center mb-3">سجل المستثمرين</h1>
<%-   include("./registerModel")%>
<form class="d-flex shadow-sm mx-2">
  <input
    id="search"
    class="form-control mb-2"
    type="search"
    placeholder="خانة البحث"
    aria-label="Search"
  />
</form>
<% if(users.length>0){ %>
<div class="table-responsive shadow-sm mx-2">
  <table
    class="table table-sm table-striped table-hover table-borderless text-center sortable"
  >
    <thead class="table-greenSea">
      <tr class="text-nowrap">
        <th scope="col">الرقم</th>
        <th scope="col">الإسم و اللقب</th>
        <th scope="col">تاريخ الميلاد</th>
        <th scope="col">الهاتف</th>
        <th scope="col">الدور</th>
        <th scope="col">العنوان</th>
        <th scope="col">الجنس</th>
        <th scope="col">الحسابات</th>
        <th scope="col">سجل الدخول</th>
        <th scope="col">العمليات</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% var i=1 %> <% for (user of users){%>
      <tr class="text-nowrap">
        <th scope="row"><%= i%> <% i=i+1; %></th>

        <td scope="row">
          <%= user.fullname%> <% if(!user.approved) {%>
          <span class="badge bg-lightCoral">معطل</span>
          <% } %>
        </td>
        <td scope="row"><%=user.birthdate %></td>
        <td scope="row"><%= user.phone %></td>
        <td scope="row"><%= user.role %></td>
        <td scope="row"><%= user.address %></td>
        <td scope="row"><%= user.gender %></td>
        <td scope="row"><%-include("./accounts")%></td>
        <td scope="row"><%-include("./logs")%></td>

        <td
          scope="row"
          class="d-flex justify-content-center align-items-center"
        >
          <% if(!user.role.includes("سوبر أدمين")){ %> 
            <%-include("./edit")%>
            <%- include("./delete") %>
          <% }else{ %>
            <span class="px-2 py-1 fw-2" scope="row">/</span>
          <% } %>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>
<% }else{ %> <%-include('../partials/nothingDipslay')%> <% } %>
