<% layout('layouts/boilerplate')%>
<div class="card border-0 profile-page">
  <img
    class="cover-profile"
    src="https://picsum.photos/510/502"
    alt="cover"
    height="500"
  />
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img
        class="photo"
        src="https://ui-avatars.com/api/?name=<%= user.firstname%>+<%= user.lastname%>&background=AAD4A6&color=000000&size=200&font-size=0.5&rounded=true&bold=true"
      />
      <div class="mt-2">
        <h4><%= user.fullname %></h4>
      </div>
    </div>

    <div class="row gy-5 my-3">
      <div class="row d-flex">
        <div class="col-sm-3 col-lg-2 mt-2 fw-3">
          <p class="fs-4">الإسم:</p>
          <p class="fs-4">اللقب:</p>
          <p class="fs-4">الإيمل:</p>
          <p class="fs-4">الهاتف:</p>
          <p class="fs-4">الجنس:</p>
          <p class="fs-4">العنوان:</p>
          <p class="fs-4">الدور:</p>
        </div>
        <div class="col-sm-3 mt-2">
          <p class="fs-4"><%=user.firstname%></p>
          <p class="fs-4"><%=user.lastname%></p>
          <p class="fs-4"><%=user.email%></p>
          <p class="fs-4"><%=user.phone%></p>
          <p class="fs-4"><%=user.gender%></p>
          <p class="fs-4"><%=user.address%></p>
          <p class="fs-4"><%=user.role%></p>
        </div>
        <div class="col-12 col-md-12 col-lg-6 align-self-center">
          <div class="row">
            <div class="col-12 d-grid mt-3">
              <% if(!currentUser) {%> <% }else { %>
              <!-- if there is a loggedIn -->
              <% if(user.id != currentUser._id) {%> <% } else {%> <%-
              include("./editPassword")%> <% } %> <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
