<% layout('layouts/boilerplate')%>
<h1 class="display-6 text-success text-center mb-3">إعلان الأرباح</h1>
<form class="d-flex shadow-sm mx-2">
  <input
    id="search"
    class="form-control mb-2"
    type="search"
    placeholder="خانة البحث"
    aria-label="Search"
    autocomplete="off"
  />
</form>
<% if(caisses.length>0){ %>
<div class="table-responsive shadow-sm mx-2">
  <table
    class="table table-sm table-striped table-hover table-borderless text-center sortable"
  >
    <thead class="table-greenSea">
      <tr class="text-nowrap">
        <th scope="col">الرقم</th>
        <th scope="col">رقم المرجع</th>
        <th scope="col">الاسم الكامل</th>
        <th scope="col">الباقة / المدة</th>
        <th scope="col">المبلغ</th>
        <th scope="col">العائدات</th>
        <th scope="col">تاريخ البداية</th>
        <th scope="col">تاريخ النهاية</th>
        <th scope="col">المدة المتبقية</th>
        <th scope="col">حالة الباقة</th>
        <th scope="col">العمليات</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% var i=1 %> <% for (caisse of caisses){%> 
      <% if (caisse.state === "قيد الإنتظار"){ %>
      <tr class="text-nowrap">
        <th
          scope="row"
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= i%> <% i=i+1; %>
        </th>

        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= caisse.reference%>
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= caisse.user.fullname%>
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= caisse.pack.title%> / <%= caisse.pack.period%> <%=
          caisse.pack.unite%>
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= caisse.initAmount.toLocaleString('de-DE', { minimumFractionDigits:
          2 })%> دج
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= caisse.profit.toLocaleString('de-DE', { minimumFractionDigits: 2
          }) %> دج
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= moment(caisse.startDate).format("YYYY-MM-DD")%>
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <%= moment(caisse.endDate).format("YYYY-MM-DD")%>
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div
            class="progress border border-tealdeer text-white bg-poseidon"
            style="
              font-size: 18px;
              font-weight: bold;
              height: 31px;
              max-width: auto;
              margin: auto;
            "
          >
            <div
              class="progress-bar bg-desertSand"
              role="progressbar"
              style="width: '<%= caisse.daysPersent %>'"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="<%= caisse.nbrDays%>"
            >
              <%= caisse.pastDays%>
            </div>
            <div class="align-self-center justify-content-center flex-fill">
              <%= caisse.restDays%>
            </div>
          </div>
        </td>

        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div class="rounded-3 bg-warning progress-bar-striped text-white">
            قيد الإنتظار
          </div>
        </td>

        <td class="d-flex justify-content-center align-items-center">
          <%- include("./newmodel") %> <%- include("../delete") %>
        </td>
      </tr>
      <%}}%>
    </tbody>
  </table>
</div>
<% }else{ %> <%-include('../../partials/nothingDipslay')%> <% } %>
