<section class="features" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
  data-aos-easing="ease-in-out" data-aos-once="true">
  <div class="container" id="custom-cards">
    <h1 class="p-3 border-bottom fw-bold"><%= t('features') %></h1>
    <div class="row justify-content-evenly align-items-between">
      <div class="card-wrapper col-4">
        <div class="profile-card">
          <div class="card-image">
            <img class="img-profile"
              src="https://images.unsplash.com/photo-1531058020387-3be344556be6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGV2ZW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60"
              alt="profile one">
          </div>
          <div class="details">
            <h4>
              <a class="text-decoration-none" href="/events">
                <h2>
                  <%= t('events') %> <%= t('and') %> <%= t('conferences') %>
                </h2>
              </a>
            </h4>
            <br>
          </div>
        </div>
      </div><!-- end box wrapper -->

      <div class="card-wrapper col-4">
        <div class="profile-card">
          <div class="card-image">
            <img class="img-profile"
              src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60"
              alt="profile one">
          </div>
          <div class="details">
            <h4>
              <a class="text-decoration-none" href="/user/speaker">
                <h2>
                  <%= t('experts') %> <%= t('and') %> <%= t('speakers') %>
                </h2>
              </a>
            </h4>
            <br>
          </div>
        </div>
      </div><!-- end box wrapper -->

      <div class="card-wrapper col-4">
        <div class="profile-card">
          <div class="card-image">
            <img class="img-profile"
              src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1002&q=80"
              alt="profile one">
          </div>
          <div class="details">
            <h4>
              <a class="text-decoration-none" href="/company">
                <h2>
                  <%= t('companies') %>
                </h2>
              </a>
            </h4>
            <br>
          </div>
        </div>
      </div><!-- end box wrapper -->
    </div>

  </div>
</section>