<% layout('layouts/boilerplate')%>
<div class="row mt-3">
  <h1 class="card-title text-center mb-3">Edit Investment</h1>
  <div class="col-6 offset-3 mb-3">
    <form action="/investments/<%= invest._id%>?_method=PUT" method="POST" class="needs-validation"
        enctype="multipart/form-data" novalidate" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <select class="form-select" name="packname" id="pack" aria-label="Floating label">
            <% for (pack of packs) {%>
            <% if (pack.id==invest.packname.id) { %>
            <option value="<%= invest.packname.id %>" selected><%= invest.packname.title %></option>
            <% }else{ %>
            <option value="<%= pack.id %>"><%= pack.title %></option>
            <% }} %>
          </select>
          <label for="pack"><%= t('pack') %></label>
        </div>

        <div class="input-group mb-3">
          <input type="file" class="form-control" id="picture" name="picture"/>
          <label class="input-group-text" for="picture"><%= t('payment') %> <%= t('picture') %></label>
        </div>
        <div class="mb-3">
          <button class="w-100 btn btn-lg btn-outline-success">
            <%= t('add') %>
          </button>
        </div>
    </form>
    <a href="/investments"><%= t('all') %> <%= t('investments') %></a>
  </div>
</div>