<% layout('layouts/boilerplate')%>
<h1 class="display-6 text-success text-center mb-3">سجل باقات المستثمرين</h1>
<form class="d-flex shadow-sm mx-5">
  <input
    id="search"
    class="form-control mb-2"
    type="search"
    placeholder="خانة البحث"
    aria-label="Search"
    autocomplete="off"
  />
</form>
<div class="table-responsive shadow-sm mx-5">
  <table
    class="table table-striped table-hover table-borderless text-center sortable"
  >
    <thead class="table-greenSea">
      <tr>
        <th scope="col">الرقم</th>
        <th scope="col">رقم مرجع الباقة</th>
        <th scope="col">رقم مرجع السحب</th>
        <th scope="col">معلومات الباقة</th>
        <th scope="col">الاسم الكامل</th>
        <th scope="col">المبلغ الابتدائي</th>
        <th scope="col">تاريخ السحب</th>
        <th scope="col">المبلغ</th>
        <th scope="col">العائدات</th>
        <th scope="col">حالة السحب</th>
        <th scope="col">الوصف</th>
        <th scope="col">العمليات</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% var i=1 %> 
      <% for (caisse of caisses){%>
        <% for (withdraw of caisse.withdraws){%>
      <tr>
        <th scope="row" class="data"><%= i%> <% i=i+1; %></th>
        <td scope="row" class="data"><%= caisse.reference%></td>
        <td scope="row" class="data"><%= withdraw.reference%></td>
        <td scope="row" class="data"><%= caisse.pack.title%> / <%= caisse.pack.period%> <%=caisse.pack.unite%></td>
        <td scope="row" class="data"><%= caisse.user.fullname%></td>
        <td scope="row" class="data"><%= caisse.initAmount.toLocaleString('de-DE', { minimumFractionDigits: 2 })%> دج</td>
        <td scope="row" class="data"><%= caisse.profit.toLocaleString('de-DE', { minimumFractionDigits: 2 }) %> دج</td>
        <td scope="row" class="data">
          <%= moment(withdraw.date).format("YYYY-MM-DD")%>
        </td>
        <td scope="row" class="data">
          <%=withdraw.amount %>
        </td>
        <td scope="row" class="data">
          <%= withdraw.state %>
        </td>
        <td scope="row" class="data">
          <%= withdraw.description %>
        </td>
        <td>delete</td>
      </tr>
      <%}}%>
    </tbody>
  </table>
</div>
