<% layout('layouts/boilerplate')%>
<h1 class="display-6 text-success text-center mb-3">سجل سحوبات المستثمرين</h1>
<form class="d-flex shadow-sm mx-2">
  <input
    id="search"
    class="form-control mb-2"
    type="search"
    placeholder="خانة البحث"
    aria-label="Search"
    autocomplete="off"
  />
</form>
<% if(caisses.length>0){ %>
<div class="table-responsive shadow-sm mx-2 mb-5">
  <table
    class="table table-sm table-striped table-hover table-borderless text-center sortable"
  >
    <thead class="table-greenSea">
      <tr class="text-nowrap">
        <th scope="col">الرقم</th>
        <th scope="col">رقم مرجع الباقة</th>
        <th scope="col">رقم مرجع السحب</th>
        <th scope="col">معلومات الباقة</th>
        <th scope="col">الاسم الكامل</th>
        <th scope="col">تاريخ السحب</th>
        <th scope="col">المبلغ الابتدائي</th>
        <th scope="col">العائدات</th>
        <th scope="col">مبلغ السحب</th>
        <th scope="col">باقي الحساب</th>
        <th scope="col">حالة السحب</th>
        <th scope="col">الوصف</th>
        <th scope="col">العمليات</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% var i=1 %> <% for (caisse of caisses){%> <% for (withdraw of
      caisse.withdraws){%>
      <tr class="text-nowrap">
        <th scope="row" class="data"><%= i%> <% i=i+1; %></th>
        <td scope="row" class="data"><%= caisse.reference%></td>
        <td scope="row" class="data"><%= withdraw.reference%></td>
        <td scope="row" class="data">
          <%= caisse.pack.title%> / <%= caisse.pack.period%>
          <%=caisse.pack.unite%>
        </td>
        <td scope="row" class="data"><%= caisse.user.fullname%></td>
        <td scope="row" class="data">
          <%= moment(withdraw.date).format("YYYY-MM-DD")%>
        </td>
        <td scope="row" class="data">
          <%= caisse.initAmount.toLocaleString('de-DE', { minimumFractionDigits:
          2 })%> دج
        </td>
        <td scope="row" class="data">
          <%= caisse.profit.toLocaleString('de-DE', { minimumFractionDigits: 2
          }) %> دج
        </td>

        <td scope="row" class="data">
          <%=withdraw.amount.toLocaleString('de-DE', { minimumFractionDigits: 2
          }) %> دج %>
        </td>
        <td scope="row" class="data">
          <%= caisse.restCase.toLocaleString('de-DE', { minimumFractionDigits: 2
          })%> دج <% if (withdraw.state==="تم الدفع" ){%>
        </td>

        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div class="rounded-3 bg-success progress-bar-striped text-white">
            تم الدفع
          </div>
        </td>

        <%}else if (withdraw.state==="قيد الإنتظار" ){%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div class="rounded-3 bg-warning progress-bar-striped text-white">
            قيد الإنتظار
          </div>
        </td>
        <%}else{%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div class="rounded-3 bg-danger progress-bar-striped text-white">
            مرفوض
          </div>
        </td>
        <% } %>
        <td scope="row" class="data"><%= withdraw.description %></td>
        <td class="d-flex justify-content-center align-items-center">
          <% if (withdraw.state==="تم الدفع") {%> <%- include("./edit") %>
          <%}else{%> <%- include("./completedwithdraw") %> <%- include("./edit")
          %> <%- include("./delete") %> <%}%>
        </td>
      </tr>
      <%}}%>
    </tbody>
  </table>
</div>

<% }else{ %> <%-include('../partials/nothingDipslay')%> <% } %>
