<!-- 
  When the template is rendered,
  the EJS engine will first render the boilerplate.ejs template,
  and then insert the content of the current template into the <%- //body %> tag
  in the layout template.
-->
<% layout('layouts/boilerplate')%>
<div class="col m-auto">
  <div class="container-fluid">
    <div class="bg-withdraw rounded-5 px-2 my-2">
      <div class="row d-flex">
        <div class="col-sm-6 col-lg-2 d-flex m-auto">
          <h2 class="col-sm-12 col-lg-6"><%=caisse.user.fullname.toUpperCase() %></h2>
          <% if(caisse.state == "منتهية" && caisse.restCase >0){ %>
          <div class="col-sm-12 col-md-12 col-lg-6 ms-2"><%- include("./newmodel",{caisse}) %></div>
          <% } %>
        </div>

        <div class="col-sm-3 col-lg-2 mt-2">
          <p>رقم مرجع الباقة:</p>
          <p>اسم الباقة:</p>
          <p>مبلغ الاستثمار</p>
          <p>تاريخ بداية الاستثمار:</p>
          <p>المدة:</p>
          <p>عدد الأيام المتبقية:</p>
          <p>العائدات:</p>
          <p>مجموع السحوبات:</p>
          <p>باقي الحساب:</p>
          <p>الحالة:</p>
        </div>
        <div class="col-sm-3 mt-2">
          <p><%=caisse.reference%></p>
          <p><%=caisse.pack.title%></p>
          <p>
            <%=caisse.initAmount.toLocaleString('de-DE', {
            minimumFractionDigits: 2 })%> دج
          </p>
          <p><%= moment(caisse.startDate).format("YYYY-MM-DD")%></p>
          <p><%=caisse.pack.period%> <%=caisse.pack.unite%></p>
          <p><%=caisse.restDays%> يوم</p>
          <p>
            <%= caisse.profit.toLocaleString('de-DE', { minimumFractionDigits: 2
            }) %> دج
          </p>
          <p>
            <%=caisse.totalWithdraws.toLocaleString('de-DE', {
            minimumFractionDigits: 2 })%> دج
          </p>
          <% if(caisse.profit==0){ %>
          <p>
            <%=(0).toLocaleString('de-DE', { minimumFractionDigits: 2 })%> دج
          </p>
          <%}else{%>
          <p>
            <%=caisse.restCase.toLocaleString('de-DE', { minimumFractionDigits:
            2 })%> دج
          </p>
          <%}%>
          <p><%=caisse.state%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------- -->
<% if(caisse.withdraws.length>0){ %>
<h1 class="fs-2 text-success text-center mb-3">سجل السحوبات</h1>
<div class="table-responsive shadow-sm mx-2">
  <table
    class="table table-sm table-striped table-hover table-borderless text-center sortable"
  >
    <thead class="table-greenSea">
      <tr class="text-nowrap">
        <th scope="col">الرقم</th>
        <th scope="col">رقم مرجع السحب</th>
        <th scope="col">المبلغ</th>
        <th scope="col">تاريخ السحب</th>
        <th scope="col">الحالة</th>
        <th scope="col">الوصف</th>
        <% if(currentUser.role.includes("أدمين")) {%>
        <th scope="col">العمليات</th>
        <% } %>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% var i=1 %> <% for (withdraw of caisse.withdraws){%>
      <tr class="text-nowrap">
        <th scope="row" scope="row"><%= i%> <% i=i+1; %></th>
        <td scope="row" class="data"><%=withdraw.reference %></td>

        <td scope="row" class="data">
          <%=withdraw.amount.toLocaleString('de-DE', { minimumFractionDigits: 2
          })%> دج %>
        </td>
        <td scope="row" class="data">
          <%= moment(withdraw.date).format("YYYY-MM-DD")%>
        </td>
        <% if (withdraw.state==="تم الدفع" ){%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div class="rounded-3 bg-success progress-bar-striped text-white">
            تم الدفع
          </div>
        </td>

        <%}else if (withdraw.state==="قيد الإنتظار" ){%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div class="rounded-3 bg-warning progress-bar-striped text-white">
            قيد الإنتظار
          </div>
        </td>
        <%}else if(withdraw.state==="مرفوض" ){%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/withdraw/<%=caisse.id%>'"
        >
          <div class="rounded-3 bg-danger progress-bar-striped text-white">
            مرفوض
          </div>
        </td>
        <% }%>

        <td scope="row" class="data">
          <%-
          include("./commentViewer",{message:withdraw.description,id:withdraw.id})
          %>
        </td>
        <% if(currentUser.role.includes("أدمين")) {%>
        <td class="d-flex justify-content-center align-items-center">
          <% if (withdraw.state==="تم الدفع"||withdraw.state==="مرفوض" ) {%> <%-
          include("./edit") %> <%}else{%> <%- include("./completedwithdraw") %>
          <%- include("./edit") %> <%- include("./delete",{withdraw}) %> <%}%>
        </td>
        <%}%>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>

<% } if(caisse.reinvests.length>0) {%>
<h1 class="fs-2 text-success text-center my-3">سجل طلبات إعادة الإستثمار</h1>
<div class="table-responsive shadow-sm mx-2">
  <table
    class="table table-sm table-striped table-hover table-borderless text-center sortable"
  >
    <thead class="table-greenSea">
      <tr class="text-nowrap">
        <th scope="col">الرقم</th>
        <th scope="col">الباقة / المدة</th>
        <th scope="col">المبلغ</th>
        <th scope="col">تاريخ الطلب</th>
        <th scope="col">الحالة</th>
        <th scope="col">الوصف</th>
        <% if(currentUser.role.includes("أدمين")) {%>
        <th scope="col">العمليات</th>
        <%} %>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% var j=1 %> <% for (rCaisse of reinvestCaisse){%> <% if(rCaisse){%>
      <tr class="text-nowrap">
        <th
          scope="row"
          scope="row"
          class="clickable"
          onclick="window.location='/case/<%=rCaisse.user%>/cases'"
        >
          <%= j++ %>
        </th>

        <td
          scope="row"
          class="clickable"
          onclick="window.location='/case/<%=rCaisse.user%>/cases'"
        >
          <%= rCaisse.pack.title%> / <%= rCaisse.pack.period%> <%=
          rCaisse.pack.unite%>
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/case/<%=rCaisse.user%>/cases'"
        >
          <%= rCaisse.amount.toLocaleString('de-DE', { minimumFractionDigits: 2
          })%> دج
        </td>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/case/<%=rCaisse.user%>/cases'"
        >
          <%= moment(rCaisse.date).format("YYYY-MM-DD")%>
        </td>

        <% if (rCaisse.state==="قيد الإنتظار" ){%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/case/<%=rCaisse.user%>/cases'"
        >
          <div class="rounded-3 bg-warning progress-bar-striped text-white">
            قيد الإنتظار
          </div>
        </td>

        <%}else if(rCaisse.state==="مرفوض"){%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/case/<%=rCaisse.user%>/cases'"
        >
          <div class="rounded-3 bg-danger progress-bar-striped text-white">
            مرفوض
          </div>
        </td>
        <%}else{%>
        <td
          scope="row"
          class="clickable"
          onclick="window.location='/case/<%=rCaisse.user%>/cases'"
        >
          <div class="rounded-3 bg-success progress-bar-striped text-white">
            مقبول
          </div>
        </td>

        <% } %>
        <td scope="row" class="clickable">
          <%- include("./commentViewer",{message:rCaisse.motif,id:rCaisse.id})
          %>
        </td>
        <% if(currentUser.role.includes("أدمين")) { %>
        <td class="d-flex justify-content-center align-items-center">
          <% if (rCaisse.state=="مقبول" || rCaisse.state=="مرفوض" ) {%> <%-
          include("./reinvest/edit") %> <% }else{%> <%-
          include("./reinvest/completedwithdraw") %> <%-
          include("./reinvest/edit") %> <%- include("./reinvest/delete") %>
          <%}%>
        </td>
        <%}%>
      </tr>
      <%}%> <%}%>
    </tbody>
  </table>
</div>
<!-- when the two table are empty we display nothing -->
<% } if(reinvestCaisse.length<=0 && caisse.withdraws.length<=0) {%>
<%-include('../partials/nothingDipslay')%> <% } %>
