<li class="nav-item">
  <a class="nav-link  text-light" href="/user/speaker">
  <%= t('experts') %> <%= t('and') %> <%= t('speakers') %>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link  text-light" href="/user/organizer">
    <%= t('organizers') %>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link  text-light" href="/company">
    <%= t('companies') %>
  </a>
</li>
<li class="nav-item me-2">
  <a class="nav-link  text-light" href="/about">
    <%= t('about_us') %>
  </a>
</li>